*{
    font-family: arial;
    color:rgb(68, 68, 68);
    
}
.container{
    background-image: url("../images/bg-body.png");
}
.main-header{
    position: relative;
    margin: auto;
    
}
.main-header img{
    display: block;
    margin: auto;
    border-radius: 100px;
}

.toggle-nav{
    background-color: rgb(68  , 68, 68);
    position: absolute;
    z-index: 10;
}

.main-nav{
    width: 100%;
    display: flex;
       
}

.main-nav ul {
    width: 100%; 
    margin-right: 40px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.main-nav li{
   display: block;
   margin: auto;
   background-color: rgb(68, 68, 68);
   text-align: center;
   border: 1px solid black;
   text-decoration: none;
    margin: 0.75em;
    text-transform: capitalize;
    

}
li{
    
}
.banner{
    display: none;
}

.product{
    width: 90%;
    margin: auto;
    margin-top: 5vh;
   
}
.photo-container{
    position: relative;
    margin: auto;
    margin-top: 25px;
    
}
.photo{
    width: 100%;
}
.special{
    position: absolute;
    z-index: 10;
    right: 1%;
}
.zoom{
    position: absolute;
    z-index: 5;
    top: 50%;
    background-color: rgba(68, 68, 68, 0.7);
    color: white;
    width: 100%;
    height: 25px;
    font-size: 12px;
    text-align: center;
    left: 0%;
    text-transform: uppercase;
    
     
}

.more{
    background-color:  rgb(68, 68, 68);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    
    text-transform: capitalize;
    
}

.main-footer{
    display: block;
    margin: auto;
    left: 0px;
    text-align: center;
}

.main-footer ul{
    background-color: red;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    width: 100%;
    
}

.main-footer a{
    color: white;
    text-transform: capitalize;
    margin-right: 40px;
}

/*Responsive para tablet mas de 400px*/

@media(min-width: 426px){
    
    .container{
        width: auto
    }
    .main-nav{
        width: 100%;
        overflow: hidden;
        margin: auto;
        flex: auto;
    }
    .main-nav ul{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
       
    }
   .main-nav li{
       
       display: block;
       box-sizing: border-box;
       padding: 5px;
       margin: 2%;
       border: none;
       background-color:  rgba(68, 68, 68) ;
       font-size: 12px;
       text-transform: uppercase;
       font-size: 18px;
       
    }

   .banner{
       display: block;
   }
   .banner img{
       display: block;
       width: 100%;
       background-size: cover;
   }

   .vip-products{
       overflow: hidden;
   }

   .product{
        width: 40%;
        float: left;
        margin-right: 5%;
        margin-left: 5%;
        box-sizing: border-box;
   }

}

.main-footer{
    width: 100%;
    display: inline-block;
    font-size: 18px;
    
}
.main-footer ul{
   
}

@media(min-width: 769px){
    .vip-products{
        width: 100%;
    }
    .product{
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        box-sizing: border-box;
        justify-content: space-evenly;
    }

    .main-footer{
        height: auto;
        width: 100%;
        border-radius: 50px 50px 0px 0px;
    }
    
    .main-footer ul{
        display: flex;
        justify-content: center;
        width: auto;
    }
    .main-footer li{
        margin: 0.75em;
        
        
    }
}